/* 
main points
 main-container max-width:930px;
 mobilefirst so use min-width queries
 colors
 white = #fff
 offwhite = f8f8f8
 lightgrey=#ebebeb
 darkgrey=707070
 darkergrey=717171
 lightblue=#1792D2
 darkblue=##143774


*/

/* basic setup */
:root{
    --white:#fff;
    --offwhite : f8f8f8;
    --lightgrey:#ebebeb;
    --darkgrey:#707070;
    --darkergrey:#717171;
    --lightblue:#1792D2;
    --darkblue:#143774;
}
body{
    font-size: 1rem;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: var(--darkergrey);
    margin: 0;
}
h1, h2, h3, h4,h5,h6,p, li, ul{
    margin:0;
}

p{
    font-size: 1.125rem;
}

img{
    display: block;
    width: 100%;
}

a{
    display: inline-block;
}
/* basic setup ends */

/* layout style start */

.container{
    width: 95%;
    max-width: 930px;
    margin: 0 auto;
}

header{
    background-color: var(--offwhite);
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 6.46em 0;
    flex-wrap: wrap;
}


header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--darkergrey);
    font-weight: 800;
    text-transform: uppercase;
}

header nav ul li:not(:first-child){
    margin-left: 40px;
}

header nav ul li a{
    padding-bottom: 4px;
}

.logo-container h1{
    font-size: 2.0625rem;
    padding:2.5px 0;
    font-weight: 400;
    color: var(--darkblue);
    word-spacing: 2.3px;
}

.logo-container p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--lightblue);
    letter-spacing: 2.2px;
}

.active{
    border-bottom: 2px solid var(--darkergrey);    
}
/* layout style ends */






/* media query for mobile devices */
@media screen and (max-width:715px){
    /* layout  start */
    header nav {
        flex-direction: column;
        padding: 47px 0 20px 0;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
       
    }
    header nav ul li:not(:first-child) {
        margin-left: 0px;
    }

    header nav ul li{
        margin-bottom: 40px;
    }
    .logo-container {
        margin-bottom: 2.5325rem;
    }
    /* layout ends */
}
